@charset "utf-8";

body{
	margin: 0px;
	padding: 0px;
	font-family: poppins;
	scroll-behavior: smooth;
}
*{
	box-sizing: border-box;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
#main{
	width: 100%;
	height: 100vh;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #FFFFFF;
}
.logo img{
	height: 45px;
}
nav ul{
	display: flex;
}
nav ul li a{
	height: 40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #585b5b;
	letter-spacing: 1px;
}
nav ul li a:hover{
	background-color: #2adabc;
	color: #FFFFFF;
	box-shadow: 5px 10px 30px rgba(62,198,196,0.3);
	transition: all ease 0.2s;
}
.model img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.model{
	width: 500px;
	height: 500px;
}
.content{
	width: 90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.main-text{
	width: 500px;
}
.main-text h1{
	font-size: 3.5rem;
	color: #1c3548;
	margin: 0px 0px 10px 0px;
	line-height: 60px;
}
.main-text p{
	color: #747474;
}
#skills{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	margin: auto auto 50px auto;
}
.skill-text{
	width: 400px;
}
.skill-img{
	width: 100px;
	height: 100px;
}
.skill-img img{
	width: 100%;
	height:100%;
	object-fit: contain;
}
.skill-heading span{
	color: #36b7b5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}
.skill-heading h2{
	color: #1c3548;
	font-size: 3.3rem;
	margin: 0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.s-box-container{
	margin-top: 30px;
}
.skill-box{
	display: flex;
	margin: 25px 0px;
}
.s-box-icon img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	font-size: 1.1rem;
}
.s-box-text strong{
	color: #1c3548;
	margin: 0px;
	font-size: 0.9rem;
	font-weight: 600;
}
.s-box-text p{
	color: #747474;
	font-size: 0.9rem;
}
.html5-brands{
	color: #e06061;
}
.css3-alt-brands{
	color: #416cdf;
}
.js-square-brands{
	color: #f98231;
}
#recent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0px;
	flex-direction: column;
}
.recent-heading span{
	color: #36b7b5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.1rem;
}
.recent-heading h3{
	color: #1c3548;
	font-size: 3rem;
	margin: 0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.recent-img{
	margin: 0px 40px;
}
.recent-img img{
	width: 100%;
	height: 100%;
}
#result{
	width: 100%;
	border-top: 1px solid rgba(58,58,58,0.03);
	border-bottom: 1px solid rgba(58,58,58,0.03);
	padding: 50px 0px;
}
.c-box-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px 0px;
}
.result-box{
	width: 310px;
	height: 350px;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin: 20px;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}
.result-box strong{
	color: #1c3548;
	margin: 0px;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 10px;
}
footer{
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
footer a{
	font-family: calibri;
}
footer a:nth child{
	font-size: 30px;
	font-weight: bold;
	color: #191919;
	line-height: 10px;
}
.social-icons a{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
}
.social-icons img{
	color: #000000;
}
.social-icons a:hover,
.social-icons-b a:hover{
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}
.social-icons a:hover img,
.social-icons-b a:hover img{
	color: #FFFFFF;
	transition: all ease 0.5s;
}
.social-icons-b{
	position: fixed;
	top: 50%;
	right:0px;
	transform: translateY(-50%);
}
.social-icons-b a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	background-color: #FFFFFF;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2); 
}
.social-icons-b img{
	color: #2b2b2b;
	font-size: 20px;
}