@charset "utf-8";

body{
	background-color: #efefef;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none; 
}
section{
	width: 100%;
	height: 95vh;
	background-image: url("leaf_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}
nav ul{
	display: flex;
}
nav ul li a{
	margin: 30px;
	font-family: myriad pro regular;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}
.contact-box{
	width: 500px;
	background-color: #fff;
	box-shadow: 0 0 20px 0 #999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
form{
	margin: 35px;
}
.input-field{
	width: 400px;
	height: 40px;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #777;
	border-radius: 14px;
	outline: none;
}
.textarea-field{
	height: 150px;
	padding-top: 10px;
}
.btn{
	border-radius: 20px;
	color: #fff;
	margin-top: 18px;
	padding: 10px;
	background-color: #47c35a;
	font-size: 12px;
	border: none;
	cursor: pointer;
}
footer{
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
footer a{
	font-family: calibri;
}
footer a:nth child{
	font-size: 30px;
	font-weight: bold;
	color: #191919;
	line-height: 10px;
}
.social-icons a{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
}
.social-icons img{
	color: #000000;
}
.social-icons a:hover,
.social-icons-b a:hover{
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}
.social-icons a:hover img,
.social-icons-b a:hover img{
	color: #FFFFFF;
	transition: all ease 0.5s;
}
.social-icons-b{
	position: fixed;
	top: 50%;
	right:0px;
	transform: translateY(-50%);
}
.social-icons-b a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	background-color: #FFFFFF;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2); 
}
.social-icons-b img{
	color: #2b2b2b;
	font-size: 20px;
}