@charset "utf-8";
/* CSS Document */
body{
	background-color: #f6f5f5;
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none; 
}
section{
	width: 100%;
	height: 95vh;
	background-image: url("leaf_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}
nav ul{
	display: flex;
}
nav ul li a{
	margin: 30px;
	font-family: myriad pro regular;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}
.logo{
	font-family: RoadTest;
	color: #000000;
	font-size: 22px;
}
.active{
	font-weight: bold;
	color: #2d2a2a;
}
.education{
	width: 80%;
	height: 630px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}
.education-text{
	width: 550px;
}
.education-text p:nth-child{
	color: #403e3e;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
}
.my-ambition{
	height: 600px;
	background-color: #FFFFFF;
	padding: 2% 10% 0px 10%; 
}
.my-ambition__body p:nth-child{
	font-family: calibri;
	font-weight: bold;
	color: #3e3d3d;
	font-size: 30px;
	line-height: 0px;
}
.my-ambition__body{
	width: 500px;
	margin: 50px 0px;
}
.box-1,.box-2,.box-3{
	width: 300px;
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hobbies{
	display: flex;
	justify-content: space-between;
}
.box-1 span,
.box-2 span,
.box-3 span{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: calibri;
	font-weight: bold;
}
.my-hobbies{
	height: 600px;
	background-color: #FFFFFF;
	padding: 2% 10% 0px 10%; 
}
.hobbies__heading{
	font-family: calibri;
	font-weight: bold;
	color: #3e3d3d;
	font-size: 30px;
	line-height: 0px;
	width: 500px;
	margin: 50px 0px;
}
.hobbies__details{
	font-family: calibri;
	width: 500px;
	margin: 50px 0px;
}
footer{
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
footer a{
	font-family: calibri;
}
footer a:nth child{
	font-size: 30px;
	font-weight: bold;
	color: #191919;
	line-height: 10px;
}
.social-icons a{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
}
.social-icons img{
	color: #000000;
}
.social-icons a:hover,
.social-icons-b a:hover{
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}
.social-icons a:hover img,
.social-icons-b a:hover img{
	color: #FFFFFF;
	transition: all ease 0.5s;
}
.social-icons-b{
	position: fixed;
	top: 50%;
	right:0px;
	transform: translateY(-50%);
}
.social-icons-b a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	background-color: #FFFFFF;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2); 
}
.social-icons-b img{
	color: #2b2b2b;
	font-size: 20px;
}